[ng\:cloak], [ng-cloak], .ng-cloak { /*ng-cloak fix for firefox*/
  display: none !important;
}
#container {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);  
}

#hpbar{
  background-color: red;
  height: 20px;
  display: block; 
}
.logo{
  margin:0px;
  padding: 0px;
  width: 165px;
  height: 40px;
}
#MinionInfo{
  text-align: right;
}/********************************************MAP**************************************************/
.round-button {
    width:15px;
    height:15px;
    line-height:15px;
    border: 2px solid black;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: yellow;
    box-shadow: 0 0 3px gray;
    font-size:10px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}
#map{
  width: 520px;
  position: relative;
  background-image: url('../data/map.jpg');
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);

}
#zoneInfo{
  width: 450px;
  float: right;
  display: inline-block;
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);
}
.selectedZone{
  background-color: white;
}
.curZone{
  background: red;
}
.legend{  
   position: absolute;
   margin: 5px;
}
.legendText{  
   margin-left: 25px;
}
.legendTown{
  background-color: yellowgreen;
}
span{
    font-weight: bold;
}
#battleLog{
  margin:50px;
  height: 200px;
  overflow-y: auto;
}
#buildingList{
  list-style: none;
}
#form{
  width: 350px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);

}