#container {
  max-width: 1000px;
  margin: 0 auto;
}

#hpbar{
  background-color: red;
  height: 20px;
  display: block; 
}
.logo{
  margin:0px;
  padding: 0px;
  width: 165px;
  height: 40px;
}
#MinionInfo{
  text-align: right;
}

#map{
  position: relative;
  background-image: url('../data/map.jpg');
  background-repeat: no-repeat;
}
span{
    font-weight: bold;
}

.round-button {
    width:15px;
    height:15px;
    line-height:15px;
    border: 2px solid black;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: yellow;
    box-shadow: 0 0 3px gray;
    font-size:10px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}
#battleLog{
  margin:50px;
  height: 200px;
  overflow-y: auto;
}
#buildingList{
  list-style: none;
}