.itemTooltip(ng-controller="ItemTooltipCtrl")
   .itemPic
      img(src="{{tooltipItem.pic}}")
   .itemTitle
      span {{tooltipItem.title}}
   .itemType
      span {{tooltipItem.type}}
   .bonusList
      ul(ng-repeat="row in displayBonus")
         li {{row}}