.itemTooltip(ng-controller="ItemTooltipCtrl")
   img.itemPic(src="{{tooltipItem.pic}}")
   .itemTitle {{tooltipItem.title}}
   .itemType {{tooltipItem.type}}
   br
   div(ng-repeat="bonus in tooltipItem.bonus")
      span(ng-if="$index % 2 != 0") + {{bonus}}
      span(ng-if="$index % 2 == 0") {{bonus}}