.itemTooltip(ng-controller="ItemTooltipCtrl")
   .itemPic
      img(src="{{tooltipItem.pic}}")
   .itemTitle {{tooltipItem.title}}
   .itemType {{tooltipItem.type}}
   .itemClass {{tooltipItem.class}}
   hr
   .itemWeight Weight: {{tooltipItem.weight}}
   .itemSell Sell: {{tooltipItem.price / 2}}
   .bonusList
      ul
         li(ng-repeat="row in displayBonus") {{row}}