.itemTooltip(ng-controller="ItemTooltipCtrl")
   img.itemPic(src="{{tooltipItem.pic}}")
   .itemTitle {{tooltipItem.title}}
   .itemType {{tooltipItem.type}}
   div(ng-reapeat="bonus in tooltipItem")
      span bonus