div(ng-controller="healerCtrl")
   h3 Healing costs 4gold
   input(ng-model="healAmount")
   .btn.btn-success(ng-click="heal(healAmount)") Heal
   span Healing will cost: {{healingCost}}
   ul.nav.nav-pills
      li.active
         a.btn(ng-click="fullHeal()") Full Heal
            span.badge {{fullHealCost}} g
