.container
    .jumbotron
        h2 Hello {{ user.username }}
        br
        .row
            .col-md-4.hero-slot
                .panel.panel-primary Hero Slot 1
                    .panel-heading
                        .panel-title name: {{heroOne.name}}
                    .panel-body
                        div(ng-hide="chooseDelete")
                            .text-primary Race: {{heroOne.race}}
                            .text-primary Ap: {{heroOne.ap}}
                            .text-danger HP: {{heroOne.hp}}/{{user.heroOne.maxHp}}
                            .text-info MP: {{heroOne.mp}}/{{user.heroOne.maxMp}}
                            .text-primary DM: {{heroOne.dm}}  DF: {{heroOne.df}}
                            .text-success Gold: {{heroOne.gold}} SS: {{heroOne.ss}}
                            .text-primary Location: {{heroOne.location}}
                        div(ng-hide="show" ng-include="'/partials/hero/hero-create'")
                        .btn-group-vertical
                            a.btn.btn-success(href="#/map" ng-hide="chooseDelete") Choose Hero
                            .btn.btn-info(ng-click="createHero()" ng-hide="create") Create Hero
                            .btn.btn-danger(ng-hide="chooseDelete") Delete Hero

            .col-md-4.hero-slot
                .panel.panel-primary Hero Slot 2
                    .panel-heading
                        .panel-title
                    .panel-body
                        p
                        div(ng-hide='true' ng-include="'/partials/hero/hero-create'")
                        .btn-group-vertical
                            .btn.btn-success.disabled Choose Hero
                            .btn.btn-info.disabled Choose Hero
                            .btn.btn-danger.disabled Choose Hero

            .col-md-4.hero-slot
                .panel.panel-primary Hero Slot 3
                    .panel-heading
                        .panel-title
                    .panel-body
                        p
                        div(ng-hide="true" ng-include="'/partials/hero/hero-create'")
                        .btn-group-vertical
                            .btn.btn-success.disabled Choose Hero
                            .btn.btn-info.disabled Choose Hero
                            .btn.btn-danger.disabled Choose Hero