.container
    .jumbotron
        h2 Hello {{ user.userName }}
        br
        .row
            .col-md-4
                .panel.panel-primary
                    .panel-heading
                        .panel-title Hero Name
                    .panel-body
                        p Hero Info
                        .btn.btn-success Choose Hero
                        .btn.btn-info Create Hero
                        .btn.btn-danger Delete Hero

            .col-md-4
                .panel.panel-primary
                    .panel-heading
                        .panel-title Hero Name
                    .panel-body
                        p Hero Info
                        .btn.btn-success.disabled Choose Hero
                        .btn.btn-info.disabled Choose Hero
                        .btn.btn-danger.disabled Choose Hero

            .col-md-4
                .panel.panel-primary
                    .panel-heading
                        .panel-title Hero Name
                    .panel-body
                        p Hero Info
                        .btn.btn-success.disabled Choose Hero
                        .btn.btn-info.disabled Choose Hero
                        .btn.btn-danger.disabled Choose Hero