#container
    .raceOption.human(ng-click="select($event)")
        .btn(ng-click="create()") create
    .raceOption.orc(ng-click="select($event)")
    .raceOption.elf(ng-click="select($event)")
    .raceOption.dwarf(ng-click="select($event)")
    .raceOption.undead(ng-click="select($event)")
