#container
   #battle(ng-style="{'background-image':'url(/pictures/backgrounds/{{zone}}.jpg)'}")

      .battle-info
         div.minion-info
            ul.statList
               li
                  img.avatar(src='{{minion.avatar}}')
                  ul.enemyBarList
                     li
                        .progress.statBar
                           .progress-bar.progress-bar-danger(style="width: {{minion.hp / (minion.maxHp / 100)}}%;") {{minion.hp}}/{{minion.maxHp}}
                     li
                        .progress.statBar.mpBar
                           .progress-bar.progress-bar-info(style="width: {{minion.mp / (minion.maxMp / 100)}}%;") {{minion.mp}}/{{minion.maxMp}}
               li
                  img(src="pictures/symbols/character icon.png")
                  span {{minion.name}}
               //li
                   img(src="pictures/symbols/Hp2.png")
                   span {{minion.hp}}/{{minion.maxHp}}
               //li
                  img(src="pictures/symbols/Mana.png")
                  span {{minion.mp}}/{{minion.maxMp}}
               li
                  img(src="pictures/symbols/sword.png")
                  span {{minion.dm}}
                  img(src="pictures/symbols/deffence.png")
                  span {{minion.df}}
               li
                  img(src="pictures/symbols/gold.png")
                  span {{minion.gold}}
                  img(src="pictures/symbols/soul stone2.png")
                  span {{minion.ss}}
               li

         center
            .vs
            .enemy
               img.enemyPic(src="{{minion.avatar}}")

         div.player-info(ng-include="'partials/common/playerInfoWindow'")


      .btn-group
            #attack.btn.btn-danger(ng-click) Attack
            #defend.btn.btn-success(ng-click) Defend
            .btn.btn-info.disabled Magic
            #item.btn.btn-warning(ng-click) Item
            #escape.btn.btn-primary(ng-click) Escape

      #battleLog
         #logger

   div(ng-include="'partials/chat/chat.jade'")
