#container
    .pageTitle Battle
    #battle(ng-style="{'background-image':'url(/pictures/backgrounds/{{zone}}.jpg)'}")
        .battle-info
            div.minion-info
                ul.statList
                    li  
                        .circle
                        img.avatar(src='{{minion.avatar}}')
                        ul.enemyBarList
                            li
                                .progress.statBar-right.statBar-enemy-hp
                                    .progress-bar.progress-bar-danger(style="width: {{minion.hp / (minion.maxHp / 100)}}%; float: right;") {{minion.hp}}/{{minion.maxHp}}
                            li
                                .progress.statBar-right.statBar-enemy-mp
                                    .progress-bar.progress-bar-info(style="width: {{minion.mp / (minion.maxMp / 100)}}%; float: right;") {{minion.mp}}/{{minion.maxMp}}
                    li
                        img(src="pictures/symbols/character icon.png")
                        span {{minion.name}}
                        //li
                            img(src="pictures/symbols/Hp2.png")
                            span {{minion.hp}}/{{minion.maxHp}}
                       //li
                        img(src="pictures/symbols/Mana.png")
                           span {{minion.mp}}/{{minion.maxMp}}
                    li
                        img(src="pictures/symbols/sword.png")
                        span {{minion.minDm}}-{{minion.maxDm}}
                    li
                        img(src="pictures/symbols/deffence.png")
                        span {{minion.df}}
                    li
                        img(src="pictures/symbols/gold.png")
                        span {{minion.gold}}
                    li
                        img(src="pictures/symbols/soul stone2.png")
                        span {{minion.ss}}

            center
                .vs
                //.enemy
                    img.enemyPic(src="{{minion.avatar}}")

            div.player-info(ng-include="'partials/common/playerInfoWindow'")

        #battleLog
            #logger

        .actionBar
            #attack.actionBarSlot
                span.action Attack
            #defend.actionBarSlot
                span.action Defend
            #magic.actionBarSlot
                span.action Magic
            #item.dropdown.closed.actionBarSlot
                .dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                   span.action Use Item
                .dropdown-menu(role="menu" ng-repeat="item in hero.battleItems track by $index")
                   li
                      span.battleItem(id="battleItem{{$index}}" ng-mouseover="tooltip=true; tooltipItem = item" ng-mouseleave="tooltip=false") {{item.title}}
                      span(ng-if="item.quantity")  ({{item.quantity}})
                      item-tooltip.toolTip(ng-if="tooltip")
            #escape.actionBarSlot
                span.action Escape



    div(ng-include="'partials/chat/chat.jade'")
