.player-info.list-group
    .list-group-item
        img(src="{{hero.avatar}}")
    .list-group-item
        img(src="pictures/symbols/character icon.png")
        span {{hero.name}}
        .text-primary Ap: {{hero.ap}}
    .list-group-item
        img(src="pictures/symbols/Hp2.png")
        span {{hero.hp}}/{{hero.maxHp}}
    .list-group-item
        img(src="pictures/symbols/Mana.png")
        span {{hero.mp}}/{{hero.maxMp}}
    .list-group-item
        img(src="pictures/symbols/sword.png")
        span {{hero.dm}}
        img(src="pictures/symbols/deffence.png")
        span {{hero.df}}
    .list-group-item
        img(src="pictures/symbols/gold.png")
        span {{hero.gold}}
        img(src="pictures/symbols/soul stone2.png")
        span {{hero.ss}}
    .list-group-item
        img(src="pictures/symbols/weight.png")
        span.text-warning  {{hero.weight}} /
        img(src="pictures/symbols/strength.png")
        span.text-warning {{hero.str}}
    .list-group-item
        img(src="pictures/symbols/location.png")
        span.text-primary  {{hero.location}}
    .list-group-item
        img(src="pictures/symbols/home.png")
        span.text-primary {{hero.home}}