ul.statList
    li
        img.avatar(src="{{hero.avatar}}")
        ul.heroBarList(ng-if="!fullInfo")
            li
                .progress.statBar
                    .progress-bar.progress-bar-danger(style="width: {{hero.hp / (hero.maxHp / 100)}}%;") {{hero.hp}}/{{hero.maxHp}}
            li
                .progress.statBar.mpBar
                    .progress-bar.progress-bar-info(style="width: {{hero.mp / (hero.maxMp / 100)}}%;") {{hero.mp}}/{{hero.maxMp}}
    li
        img(src="pictures/symbols/character icon.png")
        span {{hero.name}}
    li(ng-if="fullInfo")
        .text-primary Ap: {{hero.ap}}
    li(ng-if="fullInfo")
        //img(src="pictures/symbols/Hp2.png" title="Health")
        //span  {{hero.hp}}/{{hero.maxHp}}
        .progress.statBar
            .progress-bar.progress-bar-danger(style="width: {{hero.hp / (hero.maxHp / 100)}}%;") {{hero.hp}}/{{hero.maxHp}}
    li(ng-if="fullInfo")
        //img(src="pictures/symbols/Mana.png" title="Mana")
        //span  {{hero.mp}}/{{hero.maxMp}}
        .progress.statBar
            .progress-bar.progress-bar-info(style="width: {{hero.mp / (hero.maxMp / 100)}}%;") {{hero.mp}}/{{hero.maxMp}}
    li
        img(src="pictures/symbols/sword.png" title="Demage")
        span {{hero.minDm}}-{{hero.maxDm}}
    li
        img(src="pictures/symbols/deffence.png" title="Defense")
        span  {{hero.df}}
    li
        img(src="pictures/symbols/gold.png" title="Gold")
        span  {{hero.gold}}
    li
        img(src="pictures/symbols/soul stone2.png" title="Soul Stones")
        span  {{hero.ss}}
    li(ng-if="fullInfo")
        img(src="pictures/symbols/weight.png" title="Weight")
        span.text-warning  {{hero.weight}}/
        span.text-warning {{hero.str}}
        img(src="pictures/symbols/strength.png" title="Strenght")
    li(ng-if="fullInfo")
        img(src="pictures/symbols/location.png" title="Current Location")
        span.text-primary  {{hero.location}}
    li(ng-if="fullInfo")
        img(src="pictures/symbols/home.png" title="Home")
        span.text-primary  {{hero.home}}
    li(ng-if="fullInfo")
        span.text-primary  {{hero.newMail}}
        
