<form class="form-horizontal">
  <legend>Create new Hero</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputName" placeholder="Name" type="Name"/>     
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Race</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>Human</option>     								
        </select>
      </div>
    </div>
    						
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <a href="#/tutorial" id="submit" ng-click="create()" class="btn btn-primary">Create</a>
        
        <a href="#/tutorial" class="btn btn-info">Play tutorail</a>
        <a href="#/map" class="btn btn-warning">Log In</a>
      </div>
    </div>
</form>