<div>
	<div id='PlayerInfo' style='float: right'>
		<div><span>{{player.name}}</span><img src="data/character icon.png"/></div>
		<div><span>{{player.hp}}/{{player.maxHp}}</span><img src="data/Hp2.png"/></div>
		<div><span>{{player.mp}}/{{player.maxMp}}</span><img src="data/Mana.png"/></div>
		<div><span>{{player.dm}}</span><img src="data/sword.png"/><span>{{player.df}}</span><img src="data/deffence.png"/></div>
		<div><span>{{player.gold}}</span><img src="data/gold.png"/><span>{{player.ss}}</span><img src="data/soul stone2.png"/></div>
	</div>

	<ul class="nav nav-pills">
		<li class="active"><a href="" ng-click="buyOneHp()">buy 1hp<span class="badge">50ss</span></a></li>
		<li class="active"><a href="">buy 1mp<span class="badge btn btn-primary disabled">100ss</span></a></li>
		<li class="active"><a href="" ng-click="buyOneDmMin()">buy 1dm-min<span class="badge">75ss</span></a></li>
		<li class="active"><a href="" ng-click="buyOneDmMax()">buy 1dm-max<span class="badge">75ss</span></a></li>
		<li class="active"><a href="" ng-click="buyOneDf()">buy 1df<span class="badge">100ss</span></a></li>
	</ul>

	<a href="#/town" class="btn btn-danger">back to Town</a>
</div>