<div id="map">
	<img src="data/map.jpg" style="visibility: hidden"/>
	<a id="hzone1" href="#/battle/:0" class="round-button">1</a>
	<a id="hzone2" href="#/battle/:1" class="round-button">2</a>
	<a id="hzone3" href="#/battle/:2" class="round-button">3</a>
	<a id="htown" href="#/town" class="round-button">T</a>

	<a id="ozone1" href="" class="round-button">1</a>
	<a id="ozone2" href="" class="round-button">2</a>
	<a id="ozone3" href="" class="round-button">3</a>
	<a id="otown" href="" class="round-button">T</a>

	<a id="ezone1" href="" class="round-button">1</a>
	<a id="ezone2" href="" class="round-button">2</a>
	<a id="ezone3" href="" class="round-button">3</a>
	<a id="etown" href="" class="round-button">T</a>

	<a id="uzone1" href="" class="round-button">1</a>
	<a id="uzone2" href="" class="round-button">2</a>
	<a id="uzone3" href="" class="round-button">3</a>
	<a id="utown" href="" class="round-button">T</a>

	<a href="#/CreateNewHero" class="btn btn-danger">Back hero Create</a>
</div>