<div>
	<ul id='buildingList'>
		<li ><a class="btn btn-warning">mage</a></li>
		<li ><a href="#/town/library" class="btn btn-warning">library</a></li>
		<li ><a class="btn btn-warning">bank</a></li>
		<li ><a class="btn btn-warning">armory</a></li>
		<li ><a class="btn btn-warning">market place</a></li>
		<li ><a href="#/town/healer" class="btn btn-warning">healer</a></li>
		<li ><a class="btn btn-warning">merchant</a></li>
		<li ><a class="btn btn-warning">tailory</a></li>
		<li ><a class="btn btn-warning">bar</a></li>
		<li ><a class="btn btn-warning">jewery</a></li>
	</ul>

	<a href="#/map" class="btn btn-danger">Back to map</a>
</div>