div(ng-controller="merchantCtrl")
   table.table.table-hover(style="max-width: 500px;")
      thead
         th Item
         th(style="float:right;") Sell
         th(style="float:right;")
            span Sell Price
            img(src="pictures/symbols/gold.png")
      tbody
         tr(ng-repeat="item in inventory")
            td(ng-mouseover="tooltip=true; tooltipItem = item" ng-mouseleave="tooltip=false") {{item.title}}
               .toolTip(ng-if="tooltip" ng-include="'partials/tooltips/itemTooltip.jade'")
            td.btn.btn-info(style="float:right;" ng-click="sell(item)") sell
            td(style="float:right;")
               .text-warning {{item.price / 2}}