#battle {
  background-size: 100% 100%;
  position: relative;
  height: 700px;
}
.battle-info {
  height: 250px;
  width: 100%;
}
.minion-info {
  display: inline-block;
  float: right;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 55px;
}
.player-info {
  text-align: left;
  position: absolute;
  top: 15px;
  left: 15px;
}
.statList {
  margin-left: 0;
  list-style: none;
}
.backgroundColor {
  background-color: rgba(10,0,5,0.6);
}
.avatar {
    position: relative;
    height: 75px;
    width: 75px;
    border: 1px solid #000;
    border-radius: 50%;
    z-index: 2;
}
.vs {
  height: 100px;
  width: 100px;
  background-image: url("/pictures/vs.png");
  background-size: 100% 100%;
  -webkit-filter: drop-shadow(1px 1px 5px white);
  filter: drop-shadow(1px 1px 5px white);
}
.enemyBarList {
  position: absolute;
  list-style: none;
  top: 0;
  right: 75px;
}
.enemyBarList .mpBar {
  float: right;
}
.heroBarList {
  position: absolute;
  list-style: none;
  top: 0px;
  left: 75px;
}
.statBar-left {
    border: 1px solid #000;
    border-radius: 0 7px 7px 0;
    width: 200px;
    margin: 0px 0 0 -1px;    
}
.statBar-right {
    border: 1px solid #000;
    border-radius: 7px 0 0 7px;
    width: 200px;
    margin: 0px 0 0 -1px;
}
.statBar-hero-hp{
    width: 150px !important;
    left: -9px;
    position: relative;
    border-radius: 13px 7px 7px 0px;
}
.statBar-hero-mp{
    position: relative;
    left: 3px;
}
.statBar-enemy-hp{
    width: 150px !important;
    right: -9px;
    position: relative;
    border-radius: 7px 13px 7px 7px;
}
.statBar-enemy-mp{
    position: relative;
    right: -27px;
}
.statList .statBar-left, .statBar-right {
  width: 120px;
}
.mpBar {
  width: 150px;
}
.enemyPic {
  height: 200px;
  width: 200px;
}
.turnCount {
  color: #999;
  filter: drop-shadow(1px 0px 4px #f00);
}
.logDmg {
  color: #8b0000;
  filter: drop-shadow(0px 0px 2px #ff0);
}
.actionBar {
  position: absolute;
  bottom: 0;
}
.actionBarSlot {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 17px 3px rgba(0,0,0,0.8) inset;
  background-size: 100% 100%;
  display: inline-block;
}
.actionBarSlot .dropdown-toggle {
  width: 100%;
  height: 100%;
}
.actionBarSlot .action {
  color: #fff;
  filter: drop-shadow(0px 0px 2px #808080);
}
#escape {
  background-image: url("/pictures/icons/escape.png");
}
#attack {
  background-image: url("/pictures/icons/attack.png");
}
#defend {
  background-image: url("/pictures/icons/defend.png");
}
#magic {
  background-image: url("/pictures/icons/magic.png");
}
#item {
  background-image: url("/pictures/icons/item.png");
}
#battleLog {
  width: 400px;
  height: 200px;
  overflow-y: scroll;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px 0 0 0;
}
#battleLog::-webkit-scrollbar {
  width: 12px;
}
#battleLog::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
#battleLog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
