.unreadTitle
    color red

.close-btn
    float right
    color: darkred

.sendMail
    color white
    border none
    background-color rgba(0, 0, 0, 0)

.sendText
    height 150px
    width 450px

.mailItemHolder
    display inline
    float left
    border 1px solid white
    border-radius 10px
    margin 5px
    height 105px
    width 80px
    background-color rgba(10,0,5,0.6)

    img
        border-radius 9px
