.mailBox {
    min-width: 300px;
    height: auto;
    padding: 20px;
}
.mailBox .btn-holder{
    left: 15px;
}
.mailTable {
    min-width: 250px;
    width: 100%;
}
.mailTable .text-holder-big{
    height: 30px;
}
.mailTable .datePart{
    float: right;
    padding-top: 6px;
    padding-right: 5px;
}

.mailOpened {
    color: #555;
}
.paper{
    width: 500px;
    max-height: 740px;
    background-image: url("/pictures/paper.jpg");
    background-size: 100% auto;
    padding: 15px
}
.heading-part{
    height: auto;
}
.middle-part{}
.bottom-part{}
.mail-title {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}
.unreadTitle {
  color: #f00;
}
.close-btn {
  float: right;
  color: #8b0000;
}
.sendMail {
  color: #fff;
  border: none;
  background-color: rgba(0,0,0,0);
}
.sendText {
  height: 150px;
  width: 450px;
}
.mailItemHolder {
  display: inline;
  float: left;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px;
  height: 105px;
  width: 80px;
  background-color: rgba(10,0,5,0.6);
}
.mailItemHolder img {
  border-radius: 9px;
}
