#map/**************************************************map*********************/
    width 520px
    position relative
    background-image url('/pictures/map.jpg')
    background-repeat no-repeat
    box-shadow: 0 0 17px 3px rgba(0,0,0,0.56)
    float left
  /*top 135px
    left 130px

.map-bg
   width 774px
    height 977px
    background-image url('/pictures/map-bg.png')*/
.zone-pic
    width 115px
    height 115px
    display inline-block
    float right

.zone-info-table
    display inline-block

.zoneDetails
    height 140px

.round-button
    width 15px
    height 15px
    line-height 15px
    border 2px solid black
    border-radius 50%
    color #f5f5f5
    text-align center
    text-decoration none
    background #ffff00
    box-shadow 0 0 3px gray
    font-size 10px
    font-weight bold
    position absolute

.round-button:hover
    background #262626

.town
    position absolute
    background yellowgreen
    width 20px
    height 20px
    text-decoration none

.orange
    background-color orange

.selectedZone
    background-color white

.curZone
    background red

.legend
    position absolute
    display inline-block
    margin-left 5px

.legendText
    margin-left 25px

.legendTown
    background-color yellowgreen

.zone-info
    font-weight 600
    width 450px
    float right
    box-shadow: 0 0 17px 3px rgba(0,0,0,0.56)