body {
  margin: 0px;
  background-image: url("/pictures/background.png");
  font-family: 'Architects Daughter', cursive;
}
section {
  margin-top: 40px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 3px solid #808080;
  padding-top: 10px;
}
.news {
  height: 350px;
  overflow-x: scroll;
  overflow-y: none;
  background-color: #485563;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;
}
.news h2 {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #808080;
}
.logo {
  margin: 0;
  padding: 0;
  width: 165px;
  height: 40px;
}
#container {
  width: 1000px;
  margin-left: calc(50% - 500px);
  box-shadow: 0 0 17px 3px rgba(0,0,0,0.56);
  background-color: #4e5d6c;
  border-left: 3px solid #808080;
  border-right: 3px solid #808080;
  display: inline-block;
}
.quickAccessBar {
  float: right;
  margin: 5px;
  display: inline-block;
  list-style: none;
}
.quickAccessWindow {
  padding: 5px;
  position: absolute;
  margin-top: 5px;
  left: 50%;
  z-index: 3;
  box-shadow: 0 0 17px 3px rgba(0,0,0,0.56);
}
/**********************************************HERO CREATE*********/
.raceOption {
  width: 100px;
  height: 700px;
  display: inline-block;
  float: left;
  box-shadow: 0 0 17px 13px rgba(0,0,0,0.8) inset;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  position: relative;
}
.orc {
  background-image: url("/pictures/heroCreate/orc.jpg");
}
.human {
  background-image: url("/pictures/heroCreate/human.jpg");
}
.elf {
  background-image: url("/pictures/heroCreate/elf.jpg");
}
.dwarf {
  background-image: url("/pictures/heroCreate/dwarf.jpg");
}
.undead {
  background-image: url("/pictures/heroCreate/undead.jpg");
}
.raceInfo {
  width: 100%;
  position: absolute;
  bottom: 2px;
  font-weight: 800;
  background-color: rgba(10,0,5,0.6);
}
.chooseName {
  height: 700px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.selectedRace {
  width: 550px;
  background-position: initial;
}
.stats {
  margin: 10px;
  float: left;
}
