body
  padding-top 80px
  maring 0px
  padding 0px
  background-image url("/pictures/background.png")
  //background-size cover

section
  margin-top 40px

.navbar-right .navbar-form
  input
    margin-right 10px
  a.btn
    margin-left 10px

.toast-top-right
  top 70px

footer
  padding-left 120px
  padding-right 120px
  p
    border-top 1px solid #808080
    padding-top 10px

.news
  background-color rgb(72,85,99)
  padding-left 70px
  padding-right 70px
  padding-bottom 50px
  h2
    text-align center
    padding-top 10px
    border-top 1px solid #808080

.logo
  margin 0
  padding 0
  width 165px
  height 40px

#container
  max-width 1000px
  padding-left 5px
  padding-right 5px
  margin 0 auto
  margin-top 40px
  box-shadow 0 0 17px 3px rgba(0,0,0,0.56)

.hero-slot
  //box-shadow 0px 0px 17px 3px rgba(0,0,0,0.56)

.quickAccessBar/**********************QUICK ACCESS***********************/
  float right

.quickAccessWindow
  padding 5px
  position absolute
  margin-top 5px
  left 50%
  z-index 3
  box-shadow 0 0 17px 3px rgba(0,0,0,0.56)

.inventory /**************************************INVENTORY********/
  padding 0

.equipped
  background-image url('/pictures/inventory.jpg')
  float right
  display inline-block
  position relative

.itemList
  float left
  display inline-block
  width 200px
  text-align center

.item
  position absolute
  width 80px
  height 105px
  table-layout fixed

.toolTip
  position absolute
  z-index 3

.equipBtn
  with 30px

.itemInfo
  width 200px
  heigh 100px
  visibility hidden
  position absolute
  z-index 3
  background-color rgba(43,62,80, 0.9)
  boder 1px solid black
  border-radius 10px
  padding 3px

.item:hover .itemInfo
  visibility visible

.helm
  top 25px
  left 110px

.chest
  top 155px
  left 110px

.belt
  top 290px
  left 110px

.pants
  top 420px
  left 110px

.boots
  top 550px
  left 110px

.symbol
  top 550px
  left 15px

.bracelet
  top 155px
  left 15px

.weapon
  top 290px
  left 15px

.gloves
  top 420px
  left 15px

.neckless
  top 25px
  left 205px

.mantle
  top 155px
  left 205px

.shield
  top 290px
  left 205px

.secRing
  top 420px
  left 205px

.ring
  top 550px
  left 205px

#map/**************************************************map*********************/
  width 520px
  position relative
  background-image url('/pictures/map.jpg')
  background-repeat no-repeat
  display inline-block
  box-shadow 0 0 17px 3px rgba(0,0,0,0.56)

.round-button
  width 15px
  height 15px
  line-height 15px
  border 2px solid black
  border-radius 50%
  color #f5f5f5
  text-align center
  text-decoration none
  background #ffff00
  box-shadow 0 0 3px gray
  font-size 10px
  font-weight bold
  position absolute

.round-button:hover
  background #262626

.town
  position absolute
  background yellowgreen
  width 20px
  height 20px
  text-decoration none

.selectedZone
  background-color white

.curZone
  background red

.legend
  position absolute
  display inline-block
  margin-left 5px

.legendText
  margin-left 25px

.legendTown
  background-color yellowgreen

.orange
  background-color orange  

.zone-info
  font-weight 600
  width 450px
  float right
  display inline-block
  box-shadow: 0 0 17px 3px rgba(0,0,0,0.56)

.battle-info/********************************BATTLE************/
  height 250px

.minion-info
  text-align right
  display inline-block
  float right

.player-info
  text-align left
  display inline-block
  float left

#battleLog
  margin 50px
  height 200px
  overflow-y auto
  text-align center

#buildingList /*******************************************TOWN*****/
  display inline-block
  list-style none
