body
  padding-top 80px
  maring 0px
  padding 0px

.navbar-right .navbar-form
  input
    margin-right 10px
  a.btn
    margin-left 10px

.toast-top-right
  top 70px

footer
  padding-left 120px
  padding-right 120px
  p
    border-top 1px solid #808080
    padding-top 10px

.logo
  margin 0px
  padding 0px
  width 165px
  height 40px

.hero-slot
  //box-shadow 0px 0px 17px 3px rgba(0,0,0,0.56)
#map
  width 520px
  position relative
  background-image url('/pictures/map.jpg')
  background-repeat no-repeat
  display: inline-block
  //box-shadow 0px 0px 17px 3px rgba(0,0,0,0.56)

.round-button
  width 15px
  height 15px
  line-height 15px
  border 2px solid black
  border-radius 50%
  color #f5f5f5
  text-align center
  text-decoration none
  background yellow
  box-shadow 0 0 3px gray
  font-size 10px
  font-weight :bold
  position absolute

.round-button:hover
  background #262626

.town
  position absolute
  background yellowgreen
  width 20px
  height 20px
  text-decoration none

.selectedZone
  background-color white

.curZone
  background red

.legend
  position absolute
  display inline-block
  margin-left 5px

.legendText
  margin-left 25px

.legendTown
  background-color yellowgreen

.zone-info
  font-weight 600
  width 450px
  float right
  display inline-block
  //box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);


