#buildingList /*******************************************TOWN*****/
  display inline-block
  list-style none
  bottom 0

#town
  width 990px
  //margin-top 40px
  height 800px
  background-size 100% 100%

.building
  width 500px
  background-color rgba(10,0,5,0.6)
  border 1px solid white

.salesTable
  background-color rgba(0,0,0,0.4)
  box-shadow 0 0 17px 3px rgba(0,0,0,0.80) inset

#merchant
  background-image url('/pictures/backgrounds/buildingSelect/dmerchant.jpg')
  height 62px
  width 118px
  position relative
  top 529px
  left 278px

#merchant:hover
  box-shadow 0 0 14px 7px rgba(255,255,0,0.80) inset
  
.merchantBuilding
  background-image url('/pictures/backgrounds/buildings/merchant.jpg')

.armoryBuilding
  background-image url('/pictures/backgrounds/buildings/armory.png')

.building
  background-size cover
  width 990px
  height 800px

.conversation
  width 800px
