#buildingList /*******************************************TOWN*****/
  display inline-block
  list-style none
  position absolute
  bottom 0

#town
  width 990px
  //margin-top 40px
  height 800px
  background-size 100% 100%

.building
  width 500px
  background-color rgba(10,0,5,0.6)
  border 1px solid white

.table
  //border-radius 15px
  box-shadow 0 0 17px 3px rgba(0,0,0,0.80) inset