extends includes/layout
block main-content
    header.container
        .home-btn(href="#/") Home
        .new-btn(href='') News
        div(ng-include="'partials/account/login'")

    section
        route-loading-indicator
        div(ng-if="!isRouteLoading" ng-view)

    footer
        center
            .text-primary &copy; Heroes of Trebichenburg 2015
            br
            | special thanks to:
            br
            | Lorc for providing all those Icons
            br
            | freesfx.co.uk for providing sounds
            br
            | art used is created by: saki-jr, vennom07, Balaskas, AM-Markussen
