#container
    .quickAccessBar(ng-include="'partials/quickAccessBar/quickAccessBar.jade'")
    //.jumbotron

    #map
        .btn.btn-default.dropdown.closed
            .dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false") Choose Map
                .caret
            .dropdown-menu(role="menu")
                li
                    span Whole Map
                li
                    span Kymeria

        img(src="/pictures/map.jpg" style="visibility: hidden")

        #hzone1.round-button(ng-click="zoneSelect($event)")
        #hzone2.round-button(ng-click="zoneSelect($event)")
        #hzone3.round-button(ng-click="zoneSelect($event)")
        #hzone4.round-button(ng-click="zoneSelect($event)")
        #hzone5.round-button(ng-click="zoneSelect($event)")
        #hzone6.round-button(ng-click="zoneSelect($event)")
        #hzone7.round-button(ng-click="zoneSelect($event)")
        #hzone8.round-button(ng-click="zoneSelect($event)")
        #hzone9.round-button(ng-click="zoneSelect($event)")
        #hzone10.round-button(ng-click="zoneSelect($event)")
        #hzone11.round-button(ng-click="zoneSelect($event)")
        #hzone12.round-button(ng-click="zoneSelect($event)")
        #htown.round-button.town(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Kymeria")

        #ozone1.round-button(ng-click="zoneSelect($event)")
        #ozone2.round-button(ng-click="zoneSelect($event)")
        #ozone3.round-button(ng-click="zoneSelect($event)")
        #ozone4.round-button(ng-click="zoneSelect($event)")
        #ozone5.round-button(ng-click="zoneSelect($event)")
        #ozone6.round-button(ng-click="zoneSelect($event)")
        #ozone7.round-button(ng-click="zoneSelect($event)")
        #ozone8.round-button(ng-click="zoneSelect($event)")
        #ozone9.round-button(ng-click="zoneSelect($event)")
        #ozone10.round-button(ng-click="zoneSelect($event)")
        #ozone11.round-button(ng-click="zoneSelect($event)")
        #ozone12.round-button(ng-click="zoneSelect($event)")
        #otown.round-button.town(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Gol Ugur")

        #ezone1.round-button(ng-click="zoneSelect($event)")
        #ezone2.round-button(ng-click="zoneSelect($event)")
        #ezone3.round-button(ng-click="zoneSelect($event)")
        #ezone4.round-button(ng-click="zoneSelect($event)")
        #ezone5.round-button(ng-click="zoneSelect($event)")
        #ezone6.round-button(ng-click="zoneSelect($event)")
        #ezone7.round-button(ng-click="zoneSelect($event)")
        #ezone8.round-button(ng-click="zoneSelect($event)")
        #ezone9.round-button(ng-click="zoneSelect($event)")
        #ezone10.round-button(ng-click="zoneSelect($event)")
        #ezone11.round-button(ng-click="zoneSelect($event)")
        #ezone12.round-button(ng-click="zoneSelect($event)")
        #etown.round-button.town(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Elasia")

        #uzone1.round-button(ng-click="zoneSelect($event)")
        #uzone2.round-button(ng-click="zoneSelect($event)")
        #uzone3.round-button(ng-click="zoneSelect($event)")
        #uzone4.round-button(ng-click="zoneSelect($event)")
        #uzone5.round-button(ng-click="zoneSelect($event)")
        #uzone6.round-button(ng-click="zoneSelect($event)")
        #uzone7.round-button(ng-click="zoneSelect($event)")
        #uzone8.round-button(ng-click="zoneSelect($event)")
        #uzone9.round-button(ng-click="zoneSelect($event)")
        #uzone10.round-button(ng-click="zoneSelect($event)")
        #uzone11.round-button(ng-click="zoneSelect($event)")
        #uzone12.round-button(ng-click="zoneSelect($event)")
        #utown.round-button.town(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Napsonein")

        #dzone1.round-button(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Outer hall of Dum Todir")
        #dzone2.round-button(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Mine shaft 1")
        #dzone3.round-button(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Mine shaft 2")
        #dzone4.round-button(ng-click="zoneSelect($event)")
        #dzone5.round-button(ng-click="zoneSelect($event)")
        #dzone6.round-button(ng-click="zoneSelect($event)")
        #dzone7.round-button(ng-click="zoneSelect($event)")
        #dzone8.round-button(ng-click="zoneSelect($event)")
        #dzone9.round-button(ng-click="zoneSelect($event)")
        #dzone10.round-button(ng-click="zoneSelect($event)")
        #dzone11.round-button(ng-click="zoneSelect($event)")
        #dzone12.round-button(ng-click="zoneSelect($event)")
        #dtown.round-button.town(ng-click="zoneSelect($event)" data-toggle="tooltip" data-placement="bottom" data-original-title="Dum Todir")

        #azone1.round-button.orange(ng-click="zoneSelect($event)")
        #azone2.round-button.orange(ng-click="zoneSelect($event)")
        #azone3.round-button.orange(ng-click="zoneSelect($event)")
        #azone4.round-button.orange(ng-click="zoneSelect($event)")
        #azone5.round-button.orange(ng-click="zoneSelect($event)")
        #azone6.round-button.orange(ng-click="zoneSelect($event)")
        #atown.round-button.town(ng-click="zoneSelect($event)")

        div
            a.round-button.legend.legendTown
            span.legendText town
            br
            a.round-button.curZone.legend
            span.legendText current location
            br
            a.round-button.selectedZone.legend
            span.legendText selected zone

    .zone-info
        .list-group
            .list-group-item.active {{zone.name}}
            .list-group-item.text-warning {{zone.info}}
            .list-group-item.zoneDetails
                table.table-striped.table-hover.zone-info-table(ng-if="zone.movementOptions.hasBattle")
                    thead
                        tr
                            th.text-primary Minions in this zone
                    tbody
                         tr(ng-repeat="minion in minions")
                            td {{minion.name}}
                img.zone-pic(src="/pictures/backgrounds/{{zone.index}}.jpg")


        a#prev.btn.btn-success(ng-if="zone.movementOptions.hasPrevZone" ng-class="class" ng-click="prev($event)") Go to {{zone.movementOptions.prevZone}}
        a#branch.btn.btn-success(ng-if="zone.movementOptions.hasBranchZone" ng-class="class" ng-click="branch($event)") Go to {{zone.movementOptions.branchZone}}
        a#next.btn.btn-success(ng-if="zone.movementOptions.hasNextZone" ng-class="class" ng-click="next($event)") Go to {{zone.movementOptions.nextZone}}
        .btn.btn-danger(ng-if="zone.movementOptions.hasBattle" ng-class="class" ng-click="battle($event)") Battle
        .btn.btn-info(ng-if="zone.movementOptions.isTown" ng-class="class" ng-click="enter($event)") Enter


    div(ng-include="'partials/chat/chat.jade'")