doctype
html
    head
        title Heroes of Trebichenburg
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/zonePosition.css")
        link(rel="stylesheet" href="/css/loadingAnimation.css")
        link(rel="stylesheet" href="/css/currentZone.css")
        link(rel="stylesheet" href="/css/itemTooltip.css")
        link(rel="stylesheet" href="/css/inventory.css")
        link(rel="stylesheet" href="/css/town.css")
        link(rel="stylesheet" href="/css/chat.css")
        link(rel="stylesheet" href="/css/battle.css")
        link(rel="stylesheet" href="/css/map.css")

    link(rel="icon" href="/pictures/logo.png")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser