script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/socket.io-client/socket.io.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/lib/angular-audio/app/angular.audio.js")
script(type="text/javascript" src="/lib/angular-socket-io/socket.js")

script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/mainCtrl.js")

script(type="text/javascript" src="/app/common/notifier.js")
script(type="text/javascript" src="/app/common/identity.js")
script(type="text/javascript" src="/app/common/loading.js")
script(type="text/javascript" src="/app/common/equipment.js")

script(type="text/javascript" src="/app/battle/battleCtrl.js")
script(type="text/javascript" src="/app/battle/battle.js")

script(type="text/javascript" src="/app/town/townCtrl.js")
script(type="text/javascript" src="/app/town/healer/healerCtrl.js")
script(type="text/javascript" src="/app/town/library/libraryCtrl.js")
script(type="text/javascript" src="/app/town/armory/armoryCtrl.js")
script(type="text/javascript" src="/app/town/weaponsmith/weaponsmithCtrl.js")
script(type="text/javascript" src="/app/town/merchant/merchantCtrl.js")
script(type="text/javascript" src="/app/town/market/marketCtrl.js")

script(type="text/javascript" src="/app/account/loginCtrl.js")
script(type="text/javascript" src="/app/account/signUpCtrl.js")
script(type="text/javascript" src="/app/account/profileCtrl.js")
script(type="text/javascript" src="/app/account/auth.js")

script(type="text/javascript" src="/app/resources/usersResource.js")
script(type="text/javascript" src="/app/resources/minionResource.js")
script(type="text/javascript" src="/app/resources/itemResource.js")
script(type="text/javascript" src="/app/resources/heroResource.js")
script(type="text/javascript" src="/app/resources/zoneResource.js")
script(type="text/javascript" src="/app/resources/auctionResource.js")
script(type="text/javascript" src="/app/resources/mailResource.js")

script(type="text/javascript" src="/app/hero/heroSelectCtrl.js")
script(type="text/javascript" src="/app/hero/heroCreateCtrl.js")
script(type="text/javascript" src="/app/hero/hero.js")

script(type="text/javascript" src="/app/map/mapController.js")
script(type="text/javascript" src="/app/map/movementOptions.js")

script(type="text/javascript" src="/app/quickAccessBar/QuickAccessCtrl.js")
script(type="text/javascript" src="/app/quickAccessBar/inventoryCtrl.js")
script(type="text/javascript" src="/app/quickAccessBar/mailCtrl.js")

script(type="text/javascript" src="/app/tooltips/itemTooltipCtrl.js")
script(type="text/javascript" src="/app/quests/quests.js")

script(type="text/javascript" src="/app/chat/chatCtrl.js")
script(type="text/javascript" src="/app/chat/chatSocket.js")

script(type="text/javascript" src="/app/admin/userListCtrl.js")
script(type="text/javascript" src="/app/admin/testCtrl.js")
