script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")

script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/mainCtrl.js")

script(type="text/javascript" src="/app/common/notifier.js")
script(type="text/javascript" src="/app/common/identity.js")
script(type="text/javascript" src="/app/common/minionResource.js")
script(type="text/javascript" src="/app/common/loading.js")

script(type="text/javascript" src="/app/battle/battleCtrl.js")
script(type="text/javascript" src="/app/battle/battle.js")

script(type="text/javascript" src="/app/town/townCtrl.js")
script(type="text/javascript" src="/app/town/healerCtrl.js")
script(type="text/javascript" src="/app/town/libraryCtrl.js")

script(type="text/javascript" src="/app/account/loginCtrl.js")
script(type="text/javascript" src="/app/account/signUpCtrl.js")
script(type="text/javascript" src="/app/account/profileCtrl.js")
script(type="text/javascript" src="/app/account/auth.js")
script(type="text/javascript" src="/app/account/usersResource.js")

script(type="text/javascript" src="/app/hero/heroSelectCtrl.js")
script(type="text/javascript" src="/app/hero/heroCreate.js")
script(type="text/javascript" src="/app/hero/updateHero.js")

script(type="text/javascript" src="/app/map/mapController.js")
script(type="text/javascript" src="/app/map/movementOptions.js")
script(type="text/javascript" src="/app/map/updateLocation.js")

script(type="text/javascript" src="/app/admin/userListCtrl.js")

script(type="text/javascript" src="/app/courses/coursesListCtrl.js")
script(type="text/javascript" src="/app/courses/courseDetailsCtrl.js")
script(type="text/javascript" src="/app/courses/courseResource.js")
script(type="text/javascript" src="/app/courses/cachedCourses.js")

