.inventory(ng-controller="inventoryCtrl")
   .itemList
      table.table.table-striped.table-hover
         thead
            th Item
            th(style="float:right;") Weight
         tbody
            tr(ng-repeat="item in inventory")
               td {{item.title}}
               td(style="float:right;") {{item.weight}}
               td.btn-info(ng-click="equip(item)") equip
   .equipped
      img(src="pictures/inventory.jpg" style="visibility: hidden")
      .item.helm
         img(src="{{hero.equipment.helm.pic}}")
      .item.chest
         img(src="{{hero.equipment.chest.pic}}")
      .item.belt
         img(src="{{hero.equipment.belt.pic}}")
      .item.pants
         img(src="{{hero.equipment.pants.pic}}")
      .item.boots
         img(src="{{hero.equipment.boots.pic}}")
      .item.symbol
         img(src="{{hero.equipment.symbol.pic}}")
      .item.weapon
         img(alt="{{hero.equipment.weapon.title}}" src="{{hero.equipment.weapon.pic}}")
      .item.gloves
         img(src="{{hero.equipment.gloves.pic}}")
      .item.ring
         img(src="{{hero.equipment.ring.pic}}")
      .item.mantle
         img(src="{{hero.equipment.mantle.pic}}")
      .item.shield
         img(src="{{hero.equipment.shield.pic}}")
      .item.bracelet
         img(src="{{hero.equipment.bracelet.pic}}")
      .item.secRing
         img(src="{{hero.equipment.secRing.pic}}")
      .item.neckless
         img(src="{{hero.equipment.neckless.pic}}")

   .selectedItem
