.top-left-corner
.top-right-corner
.bot-left-corner
.bot-right-corner
.border-left
.border-right
.border-top
.border-bot 
.close-btn(ng-click="questsOpen()")
.circle
    img(src="/pictures/icons/quests.png", alt="")
.under-circle
.questBook(ng-controller="questBookCtrl")
   table.table.table-hover(style="width:250px;")
      thead
         th Title
         th(style="float:right;") Progress
      tbody
         tr(ng-repeat="quest in questBook")
            td {{quest.name}}
            td(style="float:right;") {{quest.progress}}/{{quest.needed}}
