.quickAccessBar(ng-controller="QuickAccessCtrl")
   a.btn.btn-warning(ng-click="inventory()") Inventory
   .quickAccessWindow.jumbotron(ng-if="inventoryShow" ng-include="'partials/quickAccessBar/inventoryWindow.jade'")