div(style="float: right;")
    .line-start
    ul.nav.nav-tabs.quickAccessBar
        li
            .quickAccessBar-tab.inventory-tab(ng-click="inventoryOpen()"  data-toggle="tooltip" data-placement="bottom" data-original-title="Inventory")
            inventory-window.quickAccessWindow.jumbotron.dragable(ng-if="inventoryShow")
        li
            .quickAccessBar-tab.char-info(ng-click="charInfoOpen()" data-toggle="tooltip" data-placement="bottom" data-original-title="Character Info")
            charr-info.quickAccessWindow.jumbotron.dragable(ng-if="charInfo")  
        li
            .quickAccessBar-tab.quests(ng-click="questsOpen()" data-toggle="tooltip" data-placement="bottom" data-original-title="Quests")
            quest-book.quickAccessWindow.jumbotron.dragable(ng-if="quests")
        li
            .quickAccessBar-tab.mail(ng-click="mailOpen()" data-toggle="tooltip" data-placement="bottom" data-original-title="Mail")
            mail.quickAccessWindow.jumbotron.dragable(ng-if="mail")    
                
    .line-end
