.top-left-corner {
    position: absolute;
    top: 0;
    background: url("/pictures/uielements/corner ornament.png") no-repeat;
    background-size: contain;
    height: 95px;
    width: 95px;
    z-index: 5;
}
.top-right-corner {
    position: absolute;
    top: 0;
    right: 0;
    background: url("/pictures/uielements/corner ornament.png") no-repeat;
    background-size: contain;
    height: 95px;
    width: 95px;
    z-index: 5;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.bot-left-corner {
    position: absolute;
    bottom: 0;
    background: url("/pictures/uielements/corner ornament.png") no-repeat;
    background-size: contain;
    height: 95px;
    width: 95px;
    z-index: 5;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}
.bot-right-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("/pictures/uielements/corner ornament.png") no-repeat;
    background-size: contain;
    height: 95px;
    width: 95px;
    z-index: 5;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.border-left {
    position: absolute;
    left: -6px;
    background: url("/pictures/uielements/vertical-border.png") repeat-y;
    background-size: 100% 100%;
    width: 30px;
    height: 99%;
    z-index: 2;
 }
.border-right {
    position: absolute;
    top: 0;
    right: -4px;
    width: 30px;
    height: 100%;
    background: url("/pictures/uielements/vertical-border.png") repeat-y;
    background-size: 100% 100%;
    z-index: 2;
}
.border-top {
    position: absolute;
    top: -5px;
    background: url("/pictures/uielements/horisontal-border.png")repeat-x;
    background-size: 100% 100%;
    height: 30px;
    width: 95%;
    z-index: 2;
}
.border-bot {
    position: absolute;
    bottom: -4px;
    background: url("/pictures/uielements/horisontal-border.png")repeat-x;
    background-size: 100% 100%;
    height: 30px;
    width: 94%;
    z-index: 2;
}
.ornament-red-btn {
    background-image: url("/pictures/uielements/ornament-red-btn.png");
    width: 120px;
    height: 40px;
    background-size: 100% 100%;
    text-align: center;
    line-height: 37px;
    font-size: 15px;
    font-weight: bold;
    z-index: 6;
}
.ornament-green-btn {
    background-image: url("/pictures/uielements/ornament-green-btn.png");
    width: 120px;
    height: 40px;
    background-size: 100% 100%;
    text-align: center;
    line-height: 37px;
    font-size: 15px;
    font-weight: bold;
    z-index: 6;
}
.ornament-blue-btn {
    background-image: url("/pictures/uielements/ornament-blue-btn.png");
    width: 120px;
    height: 40px;
    background-size: 100% 100%;
    text-align: center;
    line-height: 37px;
    font-size: 15px;
    font-weight: bold;
    z-index: 6;
}
.circle {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 85px;
    width: 85px;
    background: url("/pictures/uielements/circle.png") no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}
.line-start {
    background: url("/pictures/uielements/line start.png") no-repeat;
    height: 62px;
    width: 25px;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    left: 17px;
}
.line-end {
    background: url("/pictures/uielements/line end.png") no-repeat;
    height: 62px;
    width: 25px;
    background-size: 100% 100%;
    display: inline-block;
    float: right;
    position: relative;
    right: 17px;
}
