div(ng-controller="marketCtrl")
   ul.nav.nav-tabs
      li
         .btn-group
            a.btn.btn-primary Auction List
            a.btn.btn-primary.dropdown-toggle(aria-expanded="false" data-toggle="dropdown")
               span.caret
            ul.dropdown-menu
               li
                  .btn.btn-primary(ng-click="getAuctionsByType('armor')") Armor
               li
                  .btn.btn-primary(ng-click="getAuctionsByType('weapon')") Weapon
               li
                  .btn.btn-primary(ng-click="getAuctionsByType('consumable')") Consumable
      li
         .btn-group
            a.btn.btn-primary My Auctions
            a.btn.btn-primary.dropdown-toggle(aria-expanded="false" data-toggle="dropdown")
               span.caret
            ul.dropdown-menu
               li
                  .btn.btn-primary(ng-click="getAuctionsByOwner()") Check my Auctions
                  .btn.btn-primary(ng-click="create = !create") Start Auction


   .btn-group(ng-if="create")
      p Auctions cost 1% of the price for a day
      a.btn.btn-primary.col-md-2 MyItems
      a.btn.btn-primary.dropdown-toggle(aria-expanded="false" data-toggle="dropdown")
         span.caret
      ul.dropdown-menu
         li
            table.table.table-hover
               thead
                  th Item
                  th(style="float:right;") Choose
               tbody
                  tr(ng-repeat="item in inventory")
                     td(ng-mouseover="tooltip=true; tooltipItem = item" ng-mouseleave="tooltip=false") {{item.title}}
                        //- .toolTip(ng-if="tooltip" ng-include="'partials/tooltips/itemTooltip.jade'")
                        item-tooltip.toolTip(ng-if="tooltip")
                     td
                        .btn-info(style="float:right;" ng-click="chooseItem(item)") Choose
      span.col-md-2 {{auctionItem.title}}
      input.col-md-2(type="text", placeholder="Days", ng-model="days", required)
      input.col-md-2(type="text", placeholder="Price", ng-model="price", required)
      .btn.btn-success(ng-click="createAuction(price, days)") Create

   div(ng-include="'partials/town/itemTable'")
