div(ng-controller="barCtrl")
   ul.nav.nav-tabs
      li.active
         .btn.btn-primary(ng-click="sortByType('barShop')") Purchase Items
      li
         .btn.btn-primary(ng-click="sortByType('barTalk')") Talk
      li
         .btn.btn-primary(ng-click="sortByType('blackjack')") Play Blackjack
