div(ng-controller="healerCtrl")
   h3 Healing costs 4gold
   input(ng-model="healAmount")
   .btn.btn-success(ng-click="heal(healAmount)") Heal
   ul.nav.nav-pills
      li.active
         a(ng-click="fullHeal()") Full Heal
            span.badge {{fullHealCost}}g

