div(ng-if="class")
    table.table.table-hover(style="max-width: 500px;")
        thead
            th.col-md-6 Item
            th.col-md-2(style="float:right;") Buy
            th.col-md-2(style="float:right;")
                span Price
                img(src="pictures/symbols/gold.png")
            th.col-md-2(style="float:right;")
                span weight
                img(src="pictures/symbols/weight.png")
        tbody
            tr(ng-if="!auction" ng-repeat="item in items")
                td.col-md-2(ng-mouseover="tooltip=true; tooltipItem = item" ng-mouseleave="tooltip=false") {{item.title}}
                    .toolTip(ng-if="tooltip" ng-include="'partials/tooltips/itemTooltip.jade'")
                td.col-md-2.btn.btn-info(style="float:right;" ng-if="!sell" ng-click="buy(item)") buy
                td.col-md-2.btn.btn-info(style="float:right;" ng-if="sell" ng-click="sell(item)") sell
                td.col-md-2(style="float:right;" ng-if="!sell")
                    .text-warning {{item.price}}
                td.col-md-2(style="float:right;" ng-if="sell")
                    .text-warning {{item.price / 2}}
                td.col-md-2(style="float:right;")
                    .text-warning {{item.weight}}

            tr(ng-if="auction" ng-repeat="auction in auctions")
                td.col-md-6(ng-mouseover="tooltip=true; tooltipItem = auction.item" ng-mouseleave="tooltip=false") {{auction.item.title}}
                    .toolTip(ng-if="tooltip" ng-include="'partials/tooltips/itemTooltip.jade'")
                td.col-md-2.btn.btn-info(style="float:right;" ng-if="!stop" ng-click="buyAuction(auction)") buy
                td.col-md-2.btn.btn-info(style="float:right;" ng-if="stop" ng-click="stopAuction(auction)") stop
                td.col-md-2(style="float:right;" ng-if="!sell")
                    .text-warning {{auction.price}}
                td.col-md-2(style="float:right;")
                    .text-warning {{auction.item.weight}}