div(ng-controller="libraryCtrl")
   ul.nav.nav-pills
      li.active
         a.btn(ng-click="buyOneHp()") buy 1 HP
            .badge 50ss
      li.active
         a.btn.disabled 50ss buy 1MP
            .badge 100ss
      li.active
         a.btn(ng-click="buyOneDmMin()") buy 1 DM-min
            .badge 75ss
      li.active
         a.btn(ng-click="buyOneDmMax()") buy 1DM-max
            .badge 75ss
      li.active
         a.btn(ng-click="buyOneDf()")  buy 1 DF
            .badge 100ss