div(ng-if="class")
    table.table.table-hover(style="max-width: 500px;")
        thead
            th Item
            th(style="float:right;") Buy
            th(style="float:right;")
                span Price
                img(src="pictures/symbols/gold.png")
            th(style="float:right;")
                span weight
                img(src="pictures/symbols/weight.png")
        tbody
            tr(ng-repeat="item in items")
                td(ng-mouseover="tooltip=true; tooltipItem = item" ng-mouseleave="tooltip=false") {{item.title}}
                    .toolTip(ng-if="tooltip" ng-include="'partials/tooltips/itemTooltip.jade'")
                td.btn.btn-info(style="float:right;" ng-click="buy(item)") buy
                td(style="float:right;")
                    .text-warning {{item.price}}
                td(style="float:right;")
                    .text-warning {{item.weight}}