#container
   .quickAccessBar(ng-include="'partials/quickAccessBar/quickAccessBar.jade'")
   .jumbotron
      div(ng-if="healer" ng-include="'partials/town/healer.jade'")
      div(ng-if="library" ng-include="'partials/town/library.jade'")
      div(ng-if="armory" ng-include="'partials/town/armory.jade'")
      div(ng-if="weaponsmith" ng-include="'partials/town/weaponsmith.jade'")
      div(ng-if="bar" ng-include="'partials/town/bar.jade'")
      br
      div(ng-include="'partials/common/playerInfoWindow'")

      ul.nav.nav-tabs#buildingList
         li
            a.btn.btn-warning(ng-click="enterBuilding('library')") Library
         li
            a.btn.btn-warning(ng-click="enterBuilding('healer')") Healer
         li
            a.btn.btn-warning.disabled Mage
         li
            a.btn.btn-warning.disabled Bank
         li
            a.btn.btn-warning.disabled Merchant
         li
            a.btn.btn-warning(ng-click="enterBuilding('weaponsmith')") Weaponsmith
         li
            a.btn.btn-warning(ng-click="enterBuilding('armory')") Armory
         li
            a.btn.btn-warning.disabled Tailory
         li
            a.btn.btn-warning.disabled Jewery
         li
            a.btn.btn-warning.disabled Market Place
         li
            a.btn.btn-warning(ng-click="enterBuilding('bar')") Bar

      .btn.btn-danger(ng-click="toMap()") Back to Map

