#container
   .pageTitle {{hero.location}}
   .quickAccessBar(ng-include="'partials/quickAccessBar/quickAccessBar.jade'")
   #town(ng-style="{'background-image':'url(/pictures/backgrounds/{{hero.location}}.jpg)'}")
      .building(ng-if="buildingList.healer" ng-include="'townPartials/healer/healer.jade'")
      .building(ng-if="buildingList.library" ng-include="'townPartials/library/library.jade'")
      .building(ng-if="buildingList.armory" ng-include="'townPartials/armory/armory.jade'")
      .building(ng-if="buildingList.weaponsmith" ng-include="'townPartials/weaponsmith/weaponsmith.jade'")
      .building(ng-if="buildingList.tavern" ng-include="'townPartials/tavern/tavern.jade'")
      .building(ng-if="buildingList.merchant" ng-include="'townPartials/merchant/merchant.jade'")
      .building(ng-if="buildingList.market" ng-include="'townPartials/market/market.jade'")

      //#merchant.buildingSelect(ng-click="enterBuilding('merchant')")

   #buildingList
      ul.nav.nav-tabs(ng-if="!inBuilding")
         li
            a.btn.btn-warning(ng-click="enterBuilding('library')") Library
         li
            a.btn.btn-warning(ng-click="enterBuilding('healer')") Healer
         li
            a.btn.btn-warning.disabled Mage
         li
            a.btn.btn-warning.disabled Bank
         li
            a.btn.btn-warning(ng-click="enterBuilding('merchant')") Merchant
         li
            a.btn.btn-warning(ng-click="enterBuilding('weaponsmith')") Weaponsmith
         li
            a.btn.btn-warning(ng-click="enterBuilding('armory')") Armory
         li
            a.btn.btn-warning.disabled Tailory
         li
            a.btn.btn-warning.disabled Jewery
         li
            a.btn.btn-warning(ng-click="enterBuilding('market')") Market Place
         li
            a.btn.btn-warning(ng-click="enterBuilding('tavern')") Tavern

      .btn.btn-danger(ng-if="!inBuilding" ng-click="toMap()") Back to Map
      .btn.btn-success(ng-click="makeHome()") Make this city my Home
      .btn.btn-danger(ng-if="inBuilding" ng-click="leaveBuilding()") Back to City

   div(ng-include="'partials/chat/chat.jade'")
