#container
   .jumbotron
      #buildingList
         a.btn.btn-warning Library
         a.btn.btn-warning Healer
         a.btn.btn-warning.disabled Mage
         a.btn.btn-warning.disabled Bank
         a.btn.btn-warning.disabled Armory
         a.btn.btn-warning.disabled Market Place
         a.btn.btn-warning.disabled Merchant
         a.btn.btn-warning.disabled Tailory
         a.btn.btn-warning.disabled Bar
         a.btn.btn-warning.disabled Jewery

      .btn.btn-danger(ng-click="toMap()") Back to Map

