.login-box(ng-controller="LoginCtrl")
    div(ng-hide="identity.isAuthenticated()")
        div.login-form(ng-if="showLogin")
            .popup-top
            input.form-control(type="text", placeholder="Username", ng-model="user.username")
            input.form-control(type="password", placeholder="Password", ng-model="user.password")
            .ornament-red-btn.middle-align(ng-click="login(user)") Login
            .ornament-red-btn(ng-click="login(user)") Login

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown.Acc
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.username }}
                span.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="#/admin") Admin Page
                li(ng-show="identity.isAuthenticated()")
                    a(href="#/profile") Profile
                li
                    a(href="#" ng-click="logout()") Sign Out
        .options Options
