#container
    .pageTitle browser PRG without levels

    .alert.alert-danger(ng-hide="identity.isAuthenticated()")
        strong Please Log In.

    .alert.alert-warning(ng-if="identity.isAuthenticated()")
        strong Do not refresh browser! Otherwise Hero data might be lost!

    .play-now(ng-audio-hover="sounds/mouseHover.mp3" volume-hover="1.0" ng-click="play()" ng-show="identity.isAuthenticated()")
        span Play Now

    //a(href="/auth/facebook/token") >Sign in with Facebook

    //.news
    div
        h2 NEWS

        blockquote.blockquote-reverse
            p We've got chat now!
            small information by
                cite(title="Source Title") HoT&trade;

        blockquote
            p Sounds have been added.
            small information by
                cite(title="Source Title") HoT&trade;

        blockquote.blockquote-reverse
            p Pictures! Lot's of item pictures have been added.
            small information by
                cite(title="Source Title") HoT&trade;

        blockquote
            p Items have been added to the game.
            small information by
                cite(title="Source Title") HoT&trade;

        blockquote.blockquote-reverse
            p Map movement options have been inproved.
            small information by
                cite(title="Source Title") HoT&trade;