#container
    .jumbotron
        h1 Heroes of Trebichenburg
        h2 some subtitle

        .alert.alert-danger(ng-hide="identity.isAuthenticated()")
            strong Please Log In.

        a.btn.btn-success(href="#/hero" ng-show="identity.isAuthenticated()")
            |Play

        .news
            h2 NEWS

            blockquote
                p Items have been added to the game.
                small information by
                    cite(title="Source Title") HoT&trade;

            blockquote.blockquote-reverse
                p Map movement options have been inproved.
                small information by
                    cite(title="Source Title") HoT&trade;